In [ ]:
# Question 1 

list= [2, 3, 6]
res = 1 
for i in list:
  res = res * i
print (res)

36

In [42]:
# Question 2

list =[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
last_item= lambda x:x[-1]
list.sort(key=last_item)
print(list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [34]:
#Question 3

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for key in d1:
    if key in d2:
       d2[key] = d2[key] + d1[key]
    else:
      d2[key]=d1[key]        
print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [104]:
#Question 4

num = int(input("Type a number: "))
numDict = {}
for i in range(1, num+1):
    numDict[i] = i*i
print(numDict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [4]:
#Question 5

list = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
float_element=lambda x: float(x[1])
list.sort(key = float_element , reverse=True)
print(list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [30]:
#Question 6

set = {0,1,2,3,4}
for i in set:
  print(i)
set.add(5)
print(set)
set.remove(2)
print(set)

0
1
2
3
4
{0, 1, 2, 3, 4, 5}
{0, 1, 3, 4, 5}